html,body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.arbrushApp {
  height: 100%;
  width: 100%;
  font-family: Courier New, Courier, monospace;
  background-color: #666;
  cursor: crosshair;
}

#paintingWrapper {
  margin: 10px;
  position: relative;
  top: -200px;
  left: 200px;
}

.paintingLayer {
  position: absolute;
  top: 0;
  left: 0;
  /* margin: 0.5px; */ /* part of canvas half pixel off bug fix */
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#painting {
  z-index: 0;
}

#strokeLayer {
  z-index: 1;
}

#pointerPositionReadout {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #333;
  color: #fff;
}

#controls {
  display: inline-block;
  width: 140px;
  height: 140px;
  margin: 10px;
  padding: 20px;
  background-color: #333;
  color: #fff;
}
